* {
  text-align: center;
  font-family: helvetica;
}

#header {
  background-image: url('file://C:/codingprojects/broadway/resources/images/the-flatiron-building.png');
  background-size: cover;
  height: 250px;
}

h2 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

#header p {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

ul {
  padding-top: 5px;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url('file://C:/codingprojects/broadway/resources/images/the-flatiron-building.png');
  background-size: cover;
  height: 30px;
}
