* {
  text-align: center;
  font-family: helvetica;
}

#header {
  background: src(.\resources\images\the-flatiron-building.png);
}

.h2 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

#header p {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#footer h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background: src(.\resources\images\the-flatiron-building.png);
}
